 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color: black;
}

.container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40vh;
}
.container a{
    cursor: pointer;
    padding: 20px 50px;
    border: 3px solid rgb(0, 255, 0);
    border-radius: 35rem;
    background-color: transparent;
    box-shadow:0px 0px 38px -4px red;
    /* background: blue; */
}
    
.container a button  {
    color: rgb(0, 255, 0);
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}